@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header-container{
    max-width: 1366px;
    height: 600px;
    background: rgba(229, 84, 115, 0.1);
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 10rem;
}
.header-content{
    width:390px;
}
.header-content h1{
    font-size: 2.5rem;
    color: rgb(39, 39, 39);
    letter-spacing: .1rem;
    font-weight: bolder;
}
.header-content p{
    font-size: .9rem;
    color: rgba(39, 39, 39, 0.6);
    margin: 1.3rem 0;
}
.header-content button{
    padding: .7rem 1.3rem;
    font-weight: 600;
    color: #fff;
    background: rgb(229, 84, 115);
    border: none;
    border-radius: .5rem;
}
.imges{
    width: 430px;
    height: 519px;
}
